body {
    font-family: "Poppins";
}
.title-container {
    background-image: url('/img/title-bg.png');
    background-size: cover;
    height: 40em;
}

.auth-img {
    width: 100%;
    height: 45vw;
    object-fit: cover;
}

.h3-sindu {
    font-family: "Poppins";
    font-weight: 600;
}

.bg-sindu {
    background-color: #297BBF;
}

#belajar-container {
    padding: 3em 12em 3em 12em;
}